@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

* { margin: 0;
    padding: 0;
    box-sizing: border-box;}

body { font-family: 'Rajdhani', sans-serif;}

.container-pokemon-all img {width: 250px;}

.pokeback { background-color: rgba(212, 200, 200, 0.5);
            box-shadow: 16px 12px 5px 0px rgba(0,0,0,0.75);


            }


            
.imagen-contenedor {
    background-image: url(../img/blob.svg);
    background-repeat: no-repeat;
    background-position: center;
}

h1 {font-weight: bold;}
h2 {color: yellowgreen;}
h3 {color: palevioletred;}